/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  background-color: #A9A9A9;
  margin: 0;
  padding: 0;
}

div.container {
  width: 100%;
}


/*トップページ（ログイン前） タイトル */
div#enteck_message_box {
  background-color: #A9A9A9;
  height: 500px;
  width: 100%;
  text-align: center;
}

div#enteck_message_background {
  height: 80px;
  width: 100%;
  text-align: center;
  color: #191970;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}


/*トップページ（ログイン前） 機能説明 */
div#enteck_function_explanation {
  background-color: #A9A9A9;
  border: solid #ffffff;
  border-radius: 20px 20px 20px 20px;
  color: #ffffff;
  font-weight: bold;
  height: 300px;
  margin-top: 20px;
  text-align: center;
}


/* 商品枠 */
div#img-thumbnail-box {
  width: 250px;
  height: 250px;
  background-color: #ffffff;
  text-align: center;
}

#img-thumbnail {
  width: 250px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#text-thumbnail {
  width: 250px;
  height: 20px;
  background-color: #ffffff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li#thumbnail {
  width: 250px;
  margin: 5px;
	display: inline-block;
  border: thin;
  border-style: solid;
  border-color: #808080;
}

div#img-main-box {
  width: 500px;
  height: 500px;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

#img-main {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* テーブル */
th#show-table-title {
  white-space: nowrap;
}

/* CSVボタン */
#csv-btn {
 position: absolute;
 right: 0;
 bottom: 0; 
}

/* 売上合計のテーブル */
#sum_sales_price {
  width: 300px;
}